<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="trustedPackages">
            <list>
                <value>com.model</value>
                <value>com.notification</value>
            </list>
        </property>
    </bean>

    <bean id="topic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="CompetitionTopic"/>
    </bean>

    <bean id="converter" class="org.springframework.jms.support.converter.MappingJackson2MessageConverter">
        <property name="targetType" value="TEXT"/>
        <property name="typeIdPropertyName" value="_notification"/>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <constructor-arg ref="connectionFactory"/>
        <property name="defaultDestination" ref="topic"/>
        <property name="messageConverter" ref="converter"/>
    </bean>

    <util:properties id="clientProps" location="classpath:competitionclient.properties"/>

    <bean id="notificationReceiver" class="com.client.gui.ams.NotificationReceiverImplementation">
        <constructor-arg ref="jmsTemplate"/>
    </bean>

    <bean id="competitionServices" class="com.network.rpcprotocol.ams.CompetitionServerAMSRpcProxy">
        <constructor-arg index="1" value="#{clientProps.getProperty('competition.server.port')}"/>
        <constructor-arg index="0" value="#{clientProps.getProperty('competition.server.host')}"/>
    </bean>


</beans>